<div class="wrapper">
  <div class="header">
    <div class="in-header">
      <div>
        <i class="uil uil-video"></i>
      </div>
      <div class="title">
        App Reconocimiento Facial
      </div>
    </div>
  </div>
  <div class="block-main">
    <div class="cam">
      <app-video-player 
      [width]="dimensionVideo.width"
      [height]="dimensionVideo.height"
      [stream]="currentStream">></app-video-player>
    </div>
    <div class="sidebar">
      <div class="zona-body">
        <div class="block">
          brock 1
        </div>
        <div class="block">
          brock 2
        </div>
      </div>
      <div class="zona-btn">
        <ul class="list-btn">
          <li *ngFor="let btn of [1,1,1]">
            Icon
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>